{{template "base" .}} {{define "title"}} Анкета {{end}} {{define "style"}}
<link rel="stylesheet" href="/static/css/aboutme.css"> {{end}} {{define "header"}}
<header>
    <div class="logo">
        <img src="/static/img/logo.png" alt="">
    </div>
    <nav>
        <a href="/" class="wow bounceInDown">
            <div class="wrapp-links o1">
                <img width="30px" src="https://img.icons8.com/material-rounded/48/000000/home.png">
                <p>Home</p>
            </div>
        </a>

        <a href="/aboutme" class="wow bounceInDown">
            <div class="wrapp-fixed">
                <!-- <img width="30px" src="https://img.icons8.com/material-rounded/48/000000/high-importance.png"> -->
                <p class="fixed">Анкета</p>
            </div>
        </a>
        <a href="/myskils" class="wow bounceInDown ">
            <div class="wrapp-links o2">
                <img width="30px" src="https://img.icons8.com/android/144/000000/settings.png">
                <p>Нывыки</p>
            </div>
        </a>
        <a href="#" class="wow bounceInDown fast">
            <div class="wrapp-links o3">
                <img width="30px" src="https://img.icons8.com/ios-glyphs/90/000000/visible.png">
                <p>Блог</p>
            </div>
        </a>
        <a href="/contact" class="wow bounceInDown fast">
            <div class="wrapp-links o4">
                <img width="30px" src="https://img.icons8.com/ios-filled/100/000000/send-mass-email.png">
                <p>Контакты</p>
            </div>
        </a>
    </nav>
    <div class="contact wow bounceInDown fast">
        <a class="vk">
            <img src="/static/img/icons8-вконтакте-50.png" width="30px">
        </a>
        <a class="facebook wow bounceInDown">
            <img src="/static/img/icons8-facebook-100.png" width="30px">
        </a>
        <a class="twiter wow bounceInDown">
            <img src="/static/img/icons8-twitter-в-квадрате-50.png" width="30px">
        </a>
        <a class="instagram wow bounceInDown">
            <img src="/static/img/instagram-new.png" width="30px">
        </a>
    </div>

</header>
{{end}} {{define "main"}}
<div class="darker"></div>
<div class="aboutme_box wow zoomIn ">
    <img src="/static/img/3x4.jpg " class="foto" alt=" ">
    <div class="aboutme_text ">
        <h1 class=" ">Кочарян Эрик Робертович</h1>
        <p>
            <grean>Возраст:</grean> 21 год.
        </p>
        <p>
            <grean>Образование:</grean> Московский приборостроительный техникум ФГБОУ ВО РЭУ ИМ. Г.В. ПЛЕХАНОВА — 2021 г.
        </p>
        <p>
            <grean>Специальность:</grean> «Компьютерные сети». (09.02.02).
        </p>
    </div>
    <div class="aboutme_text_p ">
        <p>
            Обучение закончил, получив диплом «Техник по компьютерным сетям» с отличием. В процессе обучения написал несколько курсовых работ:
        </p>
        <p>
            1. Организация защищенного канала связи Open VPN.
            <a class="" target="_blank " href="/static/document/cur1.pdf ">Смотреть</a>
        </p>
        <p>
            2. Обеспечение отказоустойчивости и бесперебойной работы предприятия.
            <a class="" target="_blank " href="/static/document/cur2.pdf ">Смотреть</a>
        </p>
        <p>
            3. Дипломная работа.
            <a class="" target="_blank " href="/static/document/deplomnai.pdf ">Смотреть</a>
        </p>
        <p>
            4. Диплом.
            <a class="" target="_blank " href="# ">Смотреть</a>
        </p>
        <p>
            На данный момент, подрабатываю на profi.ru.
            <a target="_blank" href="https://profi.ru/profile/KocharyanER2/?utm_source=copy&utm_medium=web&utm_campaign=share">Посмотреть профиль.</a>
        </p>
        <div class="wraper left wow fadeInRightBig ">
            <a href="/myskils " class="button-1 ">Что я умею?</a>
        </div>
    </div>
</div>

{{end}}