{{template "base" .}} {{define "title"}} Навыки {{end}}{{define "style"}}
<link rel="stylesheet" href="/static/css/myskils.css"> {{end}} {{define "header"}}
<header>
    <div class="logo">
        <img src="/static/img/logo.png" alt="">
    </div>
    <nav>
        <a href="/" class="wow bounceInDown">
            <div class="wrapp-links o1">
                <img width="30px" src="https://img.icons8.com/material-rounded/48/000000/home.png">
                <p>Home</p>
            </div>
        </a>

        <a href="/aboutme" class="wow bounceInDown">
            <div class="wrapp-links o2">
                <img width="30px" src="https://img.icons8.com/material-rounded/48/000000/high-importance.png">
                <p>Анкета</p>
            </div>
        </a>
        <a href="/myskils" class="wow bounceInDown ">
            <div class="wrapp-fixed">
                <!-- <img width="30px" src="https://img.icons8.com/android/144/000000/settings.png"> -->
                <p class="fixed">Нывыки</p>
            </div>
        </a>
        <a href="#" class="wow bounceInDown fast">
            <div class="wrapp-links o3">
                <img width="30px" src="https://img.icons8.com/ios-glyphs/90/000000/visible.png">
                <p>Блог</p>
            </div>
        </a>
        <a href="/contact" class="wow bounceInDown fast">
            <div class="wrapp-links o4">
                <img width="30px" src="https://img.icons8.com/ios-filled/100/000000/send-mass-email.png">
                <p>Контакты</p>
            </div>
        </a>
    </nav>
    <div class="contact wow bounceInDown fast">
        <a class="vk">
            <img src="/static/img/icons8-вконтакте-50.png" width="30px">
        </a>
        <a class="facebook wow bounceInDown">
            <img src="/static/img/icons8-facebook-100.png" width="30px">
        </a>
        <a class="twiter wow bounceInDown">
            <img src="/static/img/icons8-twitter-в-квадрате-50.png" width="30px">
        </a>
        <a class="instagram wow bounceInDown">
            <img src="/static/img/instagram-new.png" width="30px">
        </a>
    </div>

</header>
{{end}} {{define "main"}}
<div class="wrapp-skils ">
    <h1>Навыки</h1>
    <div class="blok blok_1">
        <p class="teg">Системное администрирование.</p>
        <div class="skil_text wow animate__zoomInLeft">
            <p>Я умею настраивать оборудование
                <grean>сisco</grean>. Следующие протоколы: DHCP, DHCP snooping, VLAN, STP, Port Security, NTP, OSPF, EIGRP, NAT, HSRP, IP SLA, IPsec VPN, syslog. С технической документацие разберусь и с другими технологиями.
            </p>
            <p>
                Умею настраивать
                <grean>Windows Server</grean>. Следующие технологии: AD DS, IIS, DNS, DHCP, RDP, NAT, WSUS, WDS, RAID + архивация. Могу работать с
                <grean>Linux</grean>. Nginx, Samba, Zabbix, Open VPN, Quagga (динамическая маршрутизация), NAT.
            </p>
            <p>
                Работа с
                <grean>СКС</grean> (обжим витой пары, пайка оптоволокна, прошивка патч панелей и тд.). Подключение роутеров к сети интернет.
            </p>
            <p>Диагностика неисправностей в ПК, блочный ремонт. Апгрейд ноутбуков и пк. </p>
            <p>Вы можете <a target="_blank " href="https://github.com/Erikqwerty">посмотреть</a> некоторые из сохранившихся моих лабораторных работ.</p>
            <p>Времени потраченно на обучение 2 года (первые 2 года в техникуме не всчёт там не чего не было).</p>
        </div>

    </div>
    <div class="blok blok_2">
        <p class="teg">Web разработка.</p>
        <div class="skil_text">
            <p>
                Изучаю и практикую Golang, html, css, js. Могу делать адаптивную верстку для простых сайтов. Могу написать бекенд для сайта. Могу написать Telegram бота.
            </p>
            <p>Вы можете ознакомиться с моим
                <a target="_blank " href="https://github.com/Erikqwerty">Github профилем</a>.</p>
            <p>
                Также вы можете <a target="_blank " href="https://github.com/Erikqwerty">посмотреть</a> что я верстал пока учился.
            </p>
            <p>Время потраченно на обучение 2 месяца.</p>
        </div>
    </div>
</div>


{{end}}